/* ParticleAnimation.css */
.particles-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  
  .particle {
    position: absolute;
    border-radius: 50%;
  }
  


