@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}


/* :root {
  --primary-color: #CA61C3;
  --primary-color-dark: #883677;
  --secondary-color: #ca8a04;
  --text-dark: #13293D;
  --text-light: #618985;
  --extra-light: #E2E2E2;
  --max-width: 1200px;
} */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
 
}



.particle {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 
}

@keyframes particleAnimation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}


/* NAVBAR SECTION */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: #ffffff; */
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
  background-color: white;
  border-radius: 10px;
  padding: 4px;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}



nav .checkbox {
  display: none;
  background-color: white;
  border-radius: 10px;
  padding: 8px;
  
  
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

.nav__content ul {
  display: flex;
  align-items: center;
  list-style: none;
  transition: left 0.3s;
}

.nav__content ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
  background-color: white;
  border-radius: 10px;
 ;
}

.nav__content ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

/* SECTION DEFAULTS */
.section {
  background-color: var(--extra-light);
 
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
 
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

/* BUTTONS DEFAULT */
.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.hire__me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hire__me:hover {
  background-color: var(--primary-color-dark);
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

/* IMAGE DEFAULT */
.image {
  display: grid;
  place-items: center;
  z-index: 1;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}




/* MEDIA QUERY FOR NAVBAR AND HOME SECTION */
@media (width < 845px) {
  nav .checkbox {
    display: block;
  }

  .nav__content ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  .nav__content ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }


  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }

  .section__container {
    margin-top: -20px;
  }


}

/* Contact Section Styles */
.contact-content {
  background-color: var(--extra-light);
  padding: 20px;
  margin-top: 50px;
  margin-left: 10%;
  
  
}

.section-title {
  color: #333;
  margin-top: 80px;
}


.section-description {
  margin-bottom: 30px;
  font-size: 20px;
}

.contact-input {
  display: block;
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  color: #333;
}

.contact-input:focus {
  outline: none; 
}

.contact-submit {
  margin-top: 30px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  margin-right: 20px;
  border: 2px solid #441151;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  color: #441151;
}

.contact-submit:hover {
  background-color: #CA61C3;
  color: #ffffff;;
}

.mysubmit {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}

/* Base styles for project section */
.project-section {
  padding: 40px 0;
  background-color: var(--extra-light);
  text-align: center;

}

/* Style for project cards */
.project-card {
  background-color: #fff;
  border: 4px solid var(--primary-color);
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 100%; 
  text-align: left;
  z-index: 1;

  /* opacity: 0; 
  transform: translateY(20px); 
  transition: opacity 1s ease, transform 1s ease; */


}

/* .project-card.active {
  opacity: 1; 
  transform: translateY(0);
} */




/* Style for project card titles */
.project-title {
  font-size: 24px;
  color: var(--primary-color);
  margin-bottom: 10px;
  z-index: 1;
}

/* Style for project card descriptions */
.project-description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
  z-index: 1;
}

/* Style for project links/buttons */
.project-link {
  background-color: var(--primary-color-dark);
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
}

/* Media query for screens larger than 768px */
@media (min-width: 768px) {
 
  .project-card {
    width: calc(50% - 20px); 
  }
}

/* Media query for screens larger than 1024px */
@media (min-width: 1024px) {
  
  .project-card {
    width: calc(33.33% - 20px); 
  }
}



.custom-section-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
}

.downloadbt {
  background-color: var(--primary-color);
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 10px 20px; 
  z-index: 1;
}

.download {
  padding-top: 80px;
   padding-bottom: 40px;
    /* color: var(--secondary-color); */
    color: var(--text-dark);
}

.aboutme {
  padding-top: 80px;
  margin-left: 10%;
   padding-bottom: 40px; 
   color: var(--text-dark);
   /* color: var(--secondary-color); */
   z-index: 1;
}

.aboutmep {
    color: var(--text-light);
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  margin-left: 10%;
  z-index: 1;

}

.aboutmep ul li {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  z-index: 1;
}

.myprojectp {
  font-size: 18px;
   color: var(--text-light);
   margin-bottom: 60px;
}

.myprojecth {
  /* color: var(--secondary-color); */
  color: var(--text-dark);
  margin-top: 80px;
  margin-bottom: 40px;
}

.myprojectcard {
  display: flex;
   flex-wrap: wrap;
    justify-content: center;
    
}



.project-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem; 
}

.space {
  margin-top: 40px;
}
















/* MEDIA QUERY FOR FOOTER CONTACT section */
@media (width > 845px){
  .ending {
    display: flex; 
  }
  
  .contact-content, .mybtns {
    flex: 1; 
    padding: 10px;
  }

}

/* Contact Section Styles */
.contact-content {
  background-color: var(--extra-light);
  padding: 20px;
  margin-top: 50px;
  margin-left: 10%;
  
  
}

.section-title {
  color: #333;
  margin-top: 80px;
}


.section-description {
  margin-bottom: 30px;
  font-size: 20px;
}

.contact-input {
  display: block;
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  color: #333;
}

.contact-input:focus {
  outline: none; 
}

.contact-submit {
  margin-top: 30px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  margin-right: 20px;
  border: 2px solid #441151;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  color: #441151;
}

.contact-submit:hover {
  background-color: #CA61C3;
  color: #ffffff;;
}

.mysubmit {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}

.mybtns {
   gap: 3rem;
  display: grid;
  place-items: center;
  z-index: 1;
}

.mybtns button {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  width: 250px;
  outline: none;
  /* border: 4px solid var(--primary-color); */
  border: 2px solid #441151;
  border-radius: 10px;

  
}

.mylinks {
  /* color: var(--primary-color); */
  color: #441151;
}

.mylinks:hover {
  /* background-color: var(--primary-color-dark); */
  background-color: #CA61C3;
  color: #ffffff;
}

.contactdiv1 {
  background-color: #f8f8f8;
   padding: 40px;
   
    /* margin-left: 15%; */
}

.contacth2 {
  /* color: var(--secondary-color); */
  color: var(--text-dark);
   margin-top: 80px;
    margin-bottom: 40px;
    
}
